@import "tailwindcss";

.bannerImg {
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, rgba(17, 24, 39, 1), rgba(17, 24, 39, 0.4)), url('./assets/banner-image.jpeg');
    background-size: cover;
    width: 100%;
}