@import "tailwindcss";

.bannerImg {
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
   background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('./assets/banner-image.jpeg');
    background-size: cover;
     width: 100%;
     opacity: 50%;
}